<div class="row">
  <div class="col-md-8">
    <h1>What is the Odin FB App?</h1>
    <p>I'm glad you asked. This is a mock Facebook application designed as a project for <%= link_to "The Odin Project", 'http://www.theodinprojec.com' %>'s Ruby on Rails curriculum. Have fun checking it out. I learned a lot by building it.</p>
  </div>
</div>
