<div class="jumbotron text-center">
  <h1>Welcome to the Odin FB App!</h1>
  <%= link_to "Login", "#", class: 'btn btn-primary' %>
  <p>
  <%= link_to "Sign Up", "#", class: 'btn btn-primary' %>
</div>
