<div class="jumbotron text-center">
  <h1>Welcome to the Odin FB App!</h1>
  <%= link_to "Login", new_user_session_path, class: 'btn btn-primary' %>
  <p>
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
</div>
