<div class="row">
  <div class="col-md-8">
    <h1><%= @user.name %></h1>
    <h4>Bio:</h4>
    <% if @user.bio %>
      <p>
        <%= @user.bio %>
      </p>
    <% else %>
      <p>
        You don't have a bio yet.
      </p>
    <% end %>
    <% if @user.posts.any? %>
      <h4>Posts: (<%= @user.posts.count %>)</h4>
      <ul class="posts">
        <% @user.posts.each do |post| %>
        <li><%= post.content %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
